.main-theme {
  text-align: center;
  background-color: #282c34;
  color: white;
}

.main-header {
    min-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: x-large;
}

.Map {
    min-height: 90vh;
}

/* .main-header {
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   font-size: calc(10px + 2vmin);
   color: white;
} */

